.wrapper{
    display: grid;
    justify-content: center;
}
.container {
    display: grid;
    grid-template-columns: 150px 500px 200px 100px;
    grid-template-rows: 70px 400px 100px;
    column-gap: 20px;
    row-gap: 20px;
}
.content {
    background-color: grey;
    border: 2px solid red;
    color: whitesmoke;
}
.content2 {
    text-align: center;
}
.content6 {
    color: maroon;
}

